@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-dark {
    @apply bg-gradient-to-br from-black via-gray-900 to-slate-900;
  }

  .bg-gradient-aesthetic {
    @apply bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900;
    background-size: 200% 200%;
    animation: gradient 7s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  @apply bg-gradient-aesthetic;
}
